body {
    min-width: 320px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text],
select,
textarea {
    padding: 10px;
    background: #ececec;
    border-radius: 5px;
    color: #000000;
    margin-bottom: 15px;
}

button,
.btn {
    background: #ff0029;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px 70px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.btn:hover,
.btn:active,
button:hover,
button:active {
    opacity: 0.7;
}

.container {
    min-width: 300px;
    width: 50%;
}

@media(max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper a {
    text-decoration: none;
    color: #ff0029;
}

.wrapper a:hover {
    border-bottom: 1px solid #ff0029;
}

.login {
    margin-right: 10px;
}
